.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
}

form {
  display: grid;
  gap: 1em;
  padding: 3em;
}

form input {
  padding: 0.75em;
}

form label {
  font-size: 1.7;
}
